{% load static %}

<!doctype html>
<html class="no-js" lang="en">

	{% include "components/header.html" %} 
	
	<body>

		<!-- top-area Start -->
		{% include "components/route.html" %} 
		<!-- top-area End -->
		
		{% if request.path == '/' %}
				<!--welcome-hero start -->
				{% include "components/search.html" %} 
				<!--welcome-hero end -->
	    {% endif %}


    {% block content %}
    
    {% endblock %}

		<!--footer start-->
	    {% include "components/footer.html" %} 
		<!--footer end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{%  static 'js/jquery.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="{%  static 'js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{%  static 'js/bootsnav.js' %}"></script>

        <!--feather.min.js-->
        <script  src="{%  static 'js/feather.min.js' %}"></script>

        <!-- counter js -->
		<script src="{%  static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{%  static 'js/waypoints.min.js' %}"></script>

        <!--slick.min.js-->
        <script src="{%  static 'js/slick.min.js' %}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		     
        <!--Custom JS-->
        <script src="{%  static 'js/custom.js' %}"></script>
        
		<script>
			function submitSearch() {
				// Get the values entered by the user
				var name = document.querySelector('.single-welcome-hero-form input[name="name"]').value;
				var state = document.querySelector('.single-welcome-hero-form input[name="state"]').value;
				
				// Construct the search URL with query parameters
				var searchUrl = '?name=' + encodeURIComponent(name) + '&location=' + encodeURIComponent(state);
				
				// Redirect to the search results page
				window.location.href = searchUrl;
			}
		</script>

    </body>
	
</html>




