{% extends 'home.html' %}
{% load static %}
{% block content %}

<div align="right">
	{% for message in messages %}
		<p>  {{message}} </p>
	{% endfor %}
</div>
   	<!--list-topics start -->
		<section id="list-topics" class="list-topics">
			<div class="container">
				<div class="list-topics-content">
					<ul>
						{% for member in rest %}
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
                                    <img id="img" src="{{MEDIA_URL}}{{ member.img }}" >
								</div>
                                <h2>
                                    {% if user.is_authenticated %}
                                    <a href="view_members/{{ member.id }}">
                                    {% elif request.session.vendor_user %}
                                    <a href="members/{{ member.id }}">
                                    {% else %}
                                    {% endif %}
                                {{ member.name }}</a></h2>
                                <p>{{ member.price }} listings</p>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div><!--/.container-->

		</section><!--/.list-topics-->
		<!--list-topics end-->

{% endblock %}