{% extends 'home.html' %}
{% load static %}
{% block content %}
	<div align="right">
		{% for message in messages %}
			<p>  {{message}} </p>
		{% endfor %}
    <style>
      .card-title ,.offer{
        color:#44bbea;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .address{
        margin-top: 5px;
        margin-bottom: 20px;
      }
    </style>
	</div>
		<section id="list-topics" class="list-topics">
      <div class="container ">
        <div class="section-header">
            <div class="login-box">
              <div class="container">
                <div class="row gutters">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card">
                          <div class="card-body">
                            <img id="img" src="{{MEDIA_URL}}{{ member.img }}" >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card">
                          <div class="text-right">
                            <button type="submit" class="btn btn-primary">Book Now</button>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">{{member.name}}</h5>
                            {{member.price}} INR

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 address ">
                              {{member.location}},{{member.city}},{{member.state}}
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                              {{member.desc}}
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 offer ">
                              <label for="city">Offer :</label>
                              {% if member.offer == 1 %}
                              Yes
                               {% elif member.offer == 0 %}
                                   No
                               {% endif %}
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>      
              </div>
            </div>
          </div>
      </div>
		</section>
{% endblock %}